<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            padding: 10px;
            background-color: #f2f2f2;
        }

        section {
            margin: 20px 0;
        }

        h2 {
            color: #333;
        }

        p {
            line-height: 1.6;
            color: #555;
        }
    </style>
</head>
<body>

    <header>
        <h1>Profile page</h1>
        <h1>Welcome <%= user.name %></h1>
        <h3><%= user.email %></h3>
        <ul>
            <% user.skills.forEach((item)=>{ %>
                <li> <%= item %> </li>
                <% }) %>
        </ul> 
    </header>


    <footer>
        <p>Copyright &copy; 2020</p>
    </footer>

</body>
</html>

